<IfModule mod_rewrite.c>
  RewriteEngine On

  RewriteRule ^/?$ /index.php [NC,L]
  RewriteRule ^os/?$ /os.php [NC,L]
  RewriteRule ^login/?$ /login.php [NC,L]
  RewriteRule ^relatorios/?$ /relatorios.php [NC,L]
  RewriteRule ^register/?$ /register.php [NC,L]
  RewriteRule ^pesquisar/?$ /pesquisa.php [NC,L]
</IfModule>