#top_element
{
    margin-top: 30px;
}

#bottom_element
{
    margin-bottom: 30px;
}

#main
{
    margin-right: 0px;
    margin-left: 0px;
}

.modal-dialog
{
    color: black;
}

body 
{
    background-image: url("/img/background-pattern.png");
}