/* Adiciona uma margen superior no primeiro elemento da tela */
#top_element
{
    margin-top: 30px;
}

/* Adiciona uma margen inferior no último elemento da tela */
#bottom_element
{
    margin-bottom: 30px;
}

/* Remove as mangens do main, porque estava saindo do tamanho da tela */
#main
{
    margin-right: 0px;
    margin-left: 0px;
}

#user_img
{
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

#user_btn
{
    padding-top: 0px; 
    padding-bottom: 0px; 
    align-content: center;
}

#menu_item
{
    margin-right: 8px;
}

/* Força o modal a ficar com o texto em preto, pois estava sendo afetado pelo modo escuro */
.modal-dialog
{
    color: black;
}